/*------------------------------ TAG SELECTORS ------------------------------*/

* {
	 box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Righteous', times-new-roman, comic-sans , sans-serif;
   text-align: center;
  
}

header {
   background-color: #F6F5F5;
   padding-bottom: 1rem;
}


h1 {  
   font-size: 2.5rem;
   font-weight: bolder;
   padding: 2rem;
}

h2 {
   font-size: 1.5rem;
   font-weight: bolder;
   padding: 2.5rem;
   padding-top: 3rem;
}

h3 {
   font-size: 1.5rem;
   font-weight: bolder;
   padding: 1.5rem;
   padding-top: 5rem;
}

a {
   text-decoration: none;
   color: black;
}

a:hover {
   text-decoration: underline;
   color: turquoise;
}

img {
   max-width: 100%;    
   padding: .75rem;
}

p {
   font-family: 'nunito', times-new-roman, comic-sans , sans-serif;
   font-size: 18px;
   font-weight: lighter;
   padding-top: .5rem;
   padding-right:1.75rem;
   padding-bottom: 1.5rem;
   padding-left: 1.75rem;
}



/*------------------------------ ID SELECTORS -------------------------------*/

#display-none2 {
  display: none;
}

/*----------------------------- CLASS SELECTORS -----------------------------*/

.clearfix {
  content: " ";
  display: table;
  clear: both;
}

.name {
  align-self: center;
}
 
.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav ul {
  overflow: hidden;
}

.main-nav li {
  list-style-type: none;
  background-color: white;
  font-size: 2rem;
  margin: 5px 10px 5px 10px;
  padding: 10px;
}

.profile-img {
  padding: 3rem;
  padding-bottom: 1rem;
}

.image-titles {
  font-size: 30px;
  padding-top: .75rem;
  padding-bottom: 10px;
  font-family: 'Righteous', times-new-roman, comic-sans , sans-serif;
}

.main-footer {
  border-top: 1px lightgrey solid;
}

.last-nav {
  padding: 0.5rem;
}

.last-nav li {
  font-weight: bolder;
  margin: 1rem;
  padding: 1rem;
  display: inline-block;
}

.grey-color-bottom {
  background-color: #F6F5F5;
}











/******************************** MEDIA QUERIES ******************************/
@media (min-width: 768px) {

/*------------------------------ TAG SELECTORS ------------------------------*/

h1 {
  font-size: 2.5rem;
  padding-right: .5rem;
}

h2,
h3 {
  font-size: 1.5rem;
}

h4 {
  padding: 1rem;
  padding-left: 2.5rem;
  padding-top: .10rem;
}

p {
  font-size: 1.25rem;
}

footer {
padding-top: 1rem;
}


/*------------------------------ ID SELECTORS -------------------------------*/

#display-none1 {
  display: none;
}

#display-none2 {
  display: block;
}

#profile-text {
  float: left;
  width: 60%;
  text-align: left;
  font-size: 1.5rem;
  line-height: 30px;
  padding-top: 3rem;
  padding-right: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

#center-contact {
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 2rem;
}


/*----------------------------- CLASS SELECTORS -----------------------------*/

.main-nav {
  padding-top: 2.5rem;
  padding-right: 1rem;
  padding-bottom: 2.5rem;
  padding-left: 0;
}

.thousand-nav1 {
  display: table-header-group;
  justify-content: center;
  align-items: center;
} 

.thousand-nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.main-nav ul li {
  display: inline-block;
  background-color: #F6F5F5;
}

.profile-img {
  float: right;
  width: 40%;
  padding: 1rem;
  padding-top: 3rem;
}

.substance {
  width: auto;
}

.float-img {
  display: inline-block;
  width: 50%;
  float: left;
}

.image-titles {
  font-size: 1.5rem;
}

.grey-color-bottom {
  width: 100%;
  background-color: #F6F5F5;
  padding-bottom: 1.5rem;
}

/*-------   last nav #2   -------*/


.main-footer {
  border-top: 1px lightgrey solid; 
}

.last-nav {
  padding: 0.5rem;
}

.last-nav li {
  font-size: 1rem;
  font-weight: bolder;
  margin: 1rem;
  margin-top: .5rem;
  padding: 1rem;
  padding-top: .5rem;
  display: inline-block;
}

/*----------------------------

.last-nav a {
  
}

#last-name {
  
}

----------------------------*/
  









}
/******************************* MEDIA QUERIES *******************************/
@media (min-width: 1024px) {

/*------------------------------ TAG SELECTORS ------------------------------*/

h1 {
  font-size: 3.25rem;
  padding-left: 3rem;
}

h2 {
  font-size: 2.5rem;
  padding-top: 6rem;
  padding-bottom: 5.5rem;
 
}

h3 {
  font-size: 2.5rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

p {
  font-size: 1.25rem;
  line-height: 2;
}


/*----------------------------- ID SELECTORS -------------------------------*/

#profile-text {
  padding-right: 3rem;
  padding-left: 3rem;
  line-height: 3rem;
  font-size: 1.75rem;
}



/*---------------------------- CLASS SELECTORS -----------------------------*/

.main-nav {
  padding-top: 2.5rem;
  padding-right: 2.75rem;
  padding-bottom: 2.5rem;
  padding-left: 0;
}

.thousand-nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thousand-nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-img {
padding-bottom: 3rem;
}

.float-img {
  display: inline-block;
  width: 33%;
  float: left;
}

.image-titles {
  font-size: 1.5rem;
}

.text {
padding-bottom: 5rem;
}

.main-nav {
  padding-bottom: 2rem;
}














}

